<div class="container">
    <div class="imagemLogo">
        <img [src]="getImagePath(icon)" alt="Logo">
    </div>
    <div class="optMenuLateral">
        <div class="linksMenu">
            <p>Dashboard</p>
        </div>
        <div class="linksMenu">
            <p>Cadastro de Clientes</p>
        </div>
        <div class="linksMenu">
            <p>Clientes</p>
        </div>
        <div class="linksMenu">
            <p>Gerar divida</p>
        </div>
        <div class="linksMenu">
            <p>Dividas atrasadas</p>
        </div>
        <div class="linksMenu">
            <p>Score</p>
        </div>
        <div class="linksMenu">
            <p>Importar PDV</p>
        </div>
        <div class="linksMenu">
            <p>Configurações</p>
        </div>
        <div class="linksMenu">
            <p>Suporte</p>
        </div>
    </div>
</div>